@use "variables";
@import "~bootstrap/scss/bootstrap";

/*-----------------------------------------
-------------------------------------------
  - General styles
  - Banner image
  - Hero section
  - Cards section
  - Loader
  - Character detail page
-------------------------------------------
-----------------------------------------*/

/*-----------------------------------------
  General styles
-----------------------------------------*/

.App {
  text-align: center;
}

.separator {
  width: 100%;
  margin-top: 2rem;

  & span {
    background: variables.$red;
    width: 80%;
    height: 1px;
    display: block;
    margin: 0 auto;
  }
}

/*-----------------------------------------
  Banner image
-----------------------------------------*/

.banner-container {
  width: 100vw;
  height: 200px;

  & img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

/*-----------------------------------------
  Hero section
-----------------------------------------*/

.hero-section {
  max-width: 100vw;

  & img {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
  }
}

/*-----------------------------------------
  Cards section
-----------------------------------------*/

#characters-page,
#comics-page {
  & .title-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  & section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }
}

.cards-container {
  width: 90vw;
  min-height: 500px;
  display: grid;
  grid-gap: 4vmin;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;

  & .card-item {
    width: 255px;
    height: 355px;
    margin: 0 1.5rem 1.5rem;

    & .image-container {
      display: block;
      margin-bottom: 15px;
      box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
      transition: all 0.14s ease-in-out;

      &:hover {
        transform: translate(0px, -10px);
      }

      & .price-content {
        background: variables.$blue;
        color: #fff;
        font-weight: 400;
        width: 3rem;
        position: absolute;
        display: flex;
        justify-content: center;
        border-radius: 5px;
      }

      & img {
        width: 100%;
        height: 300px;
        border-radius: 5px;
      }
    }

    & .text-container {
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      & p {
        color: variables.$black;
        font-size: 16px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 55px;
      }
    }
  }
}

/*-----------------------------------------
  Loader
-----------------------------------------*/

#loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  background: rgba(255, 255, 255, 0.4);

  & .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: variables.$red;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/*-----------------------------------------
  Character detail page
-----------------------------------------*/

#character-detail {
  .character-info {
    display: flex;
    flex-direction: row;
  }

  .comics-container {
  }
}
