@use "variables";

.card-item {
  width: 255px;
  height: 355px;
  margin: 0 1.5rem 1.5rem;
  display: flex;
  justify-self: center;
  flex-direction: column;

  & .image-container {
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
    transition: all 0.14s ease-in-out;

    &:hover {
      transform: translate(0px, -10px);
    }

    & .price-content {
      background: variables.$blue;
      color: #fff;
      font-weight: 400;
      width: 3rem;
      position: absolute;
      display: flex;
      justify-content: center;
      border-radius: 5px;
    }

    & img {
      width: 100%;
      height: 300px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  & .text-container {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;

    & p {
      color: variables.$black;
      font-size: 16px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 50px;

      &:hover {
        color: variables.$blue;
      }
    }
  }
}
