@use "variables";

/*-----------------------------------------
    -Tabs 
    - Character detail page
-----------------------------------------*/

/*-----------------------------------------
  Tabs
-----------------------------------------*/

#character-detail {
  & .tabs-section {
    padding-top: 2rem;

    & li.nav-item {
      & .nav-link.active {
        color: variables.$red;
      }

      & button {
        color: variables.$black;
      }
    }

    & .tab-content {
      padding: 2rem;

      & #comics-tab,
      & #series-tab {
        & .splide__arrows {
          & .splide__arrow {
            background: #fff;
            border: 2px solid variables.$grey;

            &:focus {
              outline-color: variables.$grey;
            }
          }
        }

        & .splide__track {
          padding-bottom: 2rem;
          padding-top: 2rem;

          & .splide__list {
            & .card-item {
              margin: 0 auto;
            }
          }
        }

        & .splide__pagination {
          & .splide__pagination__page {
            background: #8a8782;

            &.is-active {
              background: variables.$red;
            }
          }
        }
      }
    }
  }
}

/*-----------------------------------------
  Character detail page
-----------------------------------------*/

#character-detail,
#comic-detail {
  & header.detail-header {
    width: 100%;
    height: 85vh;
    min-height: 500px;
    background-position: 50%;
    background-size: cover;
    position: relative;

    & .gradient {
      background-image: linear-gradient(0deg, #19192e, rgba(25, 25, 46, 0.85));
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    & .detail-info {
      min-height: 600px;
      height: 100%;
      width: 80%;
      max-width: 90vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 auto;
      position: relative;
      z-index: 100;

      & .image-container {
        width: 350px;

        & img {
          width: 350px;
          height: 450px;
          object-fit: cover;
          border-radius: 10px;
          transition: 0.2s ease;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);

          &:hover {
            transform: rotate(5deg);
          }
        }
      }

      & .text-container {
        color: #fff;
        height: 90%;
        padding: 30px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.09);

        & .title-container {
          & h1 {
            font-size: 26px;
          }
        }

        & .description {
          font-size: 16px;
        }
      }
    }
  }
}

#comic-detail {
  & header.detail-header {
    & .detail-info {
      & .image-container {
        & .price-content {
          background: variables.$blue;
          color: #fff;
          font-weight: 400;
          width: 3rem;
          position: absolute;
          z-index: 10;
          display: flex;
          justify-content: center;
          border-radius: 5px;
        }

        & img {
          height: 550px;
        }
      }

      & .text-container {
        & ul.creators-list {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          margin: 20px 0;

          & li {
            flex: 0 0 30%;

            & strong {
              font-weight: 500;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
